.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

#sub-heading {
  white-space: no-wrap;
}

.totalEgg {
  color: #fefefe;
  display: inline;
}

.eggCounter {
  display: inline;
  color: #fefefe;
}
