<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Death Roll is a Discord based Egg Betting Game.">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="keywords" content="death, roll, discord, game">
    <meta name="description" content="Death Roll is a Discord based betting game. Start collecting eggs now!">
    <meta name="author" content="jefvel">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@deathroll" />
	<meta name="twitter:title" content="Death Roll" />
	<meta name="twitter:description" content="Death Roll is a Discord based betting game. Collect eggs here" />
	<meta name="twitter:image" content="https://i.imgur.com/gkluCkN.png" />

    <link href="https://fonts.googleapis.com/css?family=Spartan|Quicksand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>

    <!--<link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">-->
    <!--<noscript>-->
    <!--</noscript>-->
  </body>
</html>
